VITE_SUPABASE_URL=https://lfbazebwzndndeiepgae.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_feRNxDz99UkOxqWkpVW9Iw_K895UBM5



# Development only. Do not configure these in production builds.
VITE_DEMO_SUPER_ADMIN_EMAIL=label.lens.07@gmail.com
VITE_DEMO_SUPER_ADMIN_PASSWORD=12345678
VITE_DEMO_CONTROLLER_EMAIL=admin-controller
VITE_DEMO_CONTROLLER_PASSWORD=12345678
VITE_DEMO_INSPECTOR_EMAIL=admin-inspector
VITE_DEMO_INSPECTOR_PASSWORD=12345678
VITE_DEMO_LAB_EMAIL=admin-lab
VITE_DEMO_LAB_PASSWORD=12345678
VITE_DEMO_MANUFACTURER_EMAIL=admin-manufacturer
VITE_DEMO_MANUFACTURER_PASSWORD=12345678